---
import AboutMe from "@components/home/AboutMe.astro";
import Description from "@components/home/Description.astro";
import MobileSocials from "@components/home/MobileSocials.astro";
import Layout from "@layouts/Default.astro";
---

<Layout
  title=""
  pageTitle="Valerio Como | Home"
  description="Technical Project Manager @ DTD"
>
  <main class="bg-pink p-6">
    <MobileSocials />
    <AboutMe />
    <Description />
  </main>
</Layout>
